<ion-menu [content]="content">
  <ion-header>
    <ion-list *ngIf="_session.user">
      <button menuToggle ion-item (click)="openProfile()">
        <ion-title>
          <ion-avatar item-start class="{{ _session.user.sexo }}"
            style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            <ion-icon name="contact"></ion-icon>
            {{_session.user.nombre}}
          </ion-avatar>
        </ion-title>
      </button>
      <button menuToggle ion-item clear (click)="loggout()">
        Desconectarse
      </button>
    </ion-list>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header color="{{_procesos.proceso.title}}">
        <ion-title>
          {{_procesos.proceso.title | titlecase}}
        </ion-title>
      </ion-list-header>
      <ion-list-header>
        Herramientas
      </ion-list-header>
      <button menuToggle ion-item (click)="openPage(personasPage)">
        Listas
      </button>
      <!-- <button menuToggle ion-item (click)="openPage(estudiosPage)">
        Estudios
      </button> -->

      <ion-list-header *ngIf="_procesos.etapas.length > 0">
        Etapas
      </ion-list-header>

      <div *ngFor="let etapa of _procesos.etapas">
        <ion-item-divider>
          {{etapa.title}}
        </ion-item-divider>
        <button menuToggle ion-item *ngFor="let verbo of etapa.verbos"
          (click)="openPage(verbo.page)">
          <ion-icon name="{{verbo.icon}}"
            item-start
            color="gray"></ion-icon>
          {{verbo.title}}
        </button>
      </div>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
