page-bautizados {
  button {
    font-size: 12pt !important;
  }
  
  .hombre {
    font-size: 22pt;
    color: #2196F3 !important;
  }

  .mujer {
    font-size: 22pt;
    color: #E91E63 !important;
  }
}
